<div>
    <h1>{{hello}}</h1>
    <form>
        <div>
            <input ng-model="userId" placeholder="Your User Id or E-mail" type="text">
        </div>
        <div>
            <input ng-model="password" placeholder="Password" type="text">
        </div>
        <button ng-click="signIn()">Sign In</button>
    </form>
</div>